{
    "root": true,
    "parser": "@typescript-eslint/parser",
    "plugins": [
      "@typescript-eslint"
    ],
    "extends": [
      "eslint:recommended",
      "plugin:@typescript-eslint/eslint-recommended",
      "plugin:@typescript-eslint/recommended"
    ],
    "globals": {
        "$dataActors": "writable",
        "$dataClasses": "writable",
        "$dataSkills": "writable",
        "$dataItems": "writable",
        "$dataWeapons": "writable",
        "$dataArmors": "writable",
        "$dataEnemies": "writable",
        "$dataTroops": "writable",
        "$dataStates": "writable",
        "$dataAnimations": "writable",
        "$dataTilesets": "writable",
        "$dataCommonEvents": "writable",
        "$dataSystem": "writable",
        "$dataMapInfos": "writable",
        "$dataMap": "writable",
        "$gameTemp": "writable",
        "$gameSystem": "writable",
        "$gameScreen": "writable",
        "$gameTimer": "writable",
        "$gameMessage": "writable",
        "$gameSwitches": "writable",
        "$gameVariables": "writable",
        "$gameSelfSwitches": "writable",
        "$gameActors": "writable",
        "$gameParty": "writable",
        "$gameTroop": "writable",
        "$gameMap": "writable",
        "$gamePlayer": "writable",
        "$testEvent": "writable",
        "Utils": "writable",
        "Graphics": "writable",
        "Point": "writable",
        "Rectangle": "writable",
        "Bitmap": "writable",
        "Sprite": "writable",
        "Tilemap": "writable",
        "TilingSprite": "writable",
        "ScreenSprite": "writable",
        "Window": "writable",
        "WindowLayer": "writable",
        "Weather": "writable",
        "ColorFilter": "writable",
        "Stage": "writable",
        "WebAudio": "writable",
        "Video": "writable",
        "Input": "writable",
        "TouchInput": "writable",
        "JsonEx": "writable",
        "DataManager": "writable",
        "ConfigManager": "writable",
        "StorageManager": "writable",
        "FontManager": "writable",
        "ImageManager": "writable",
        "EffectManager": "writable",
        "AudioManager": "writable",
        "SoundManager": "writable",
        "TextManager": "writable",
        "ColorManager": "writable",
        "SceneManager": "writable",
        "BattleManager": "writable",
        "PluginManager": "writable",
        "Game_Temp": "writable",
        "Game_System": "writable",
        "Game_Timer": "writable",
        "Game_Message": "writable",
        "Game_Switches": "writable",
        "Game_Variables": "writable",
        "Game_SelfSwitches": "writable",
        "Game_Screen": "writable",
        "Game_Picture": "writable",
        "Game_Item": "writable",
        "Game_Action": "writable",
        "Game_ActionResult": "writable",
        "Game_BattlerBase": "writable",
        "Game_Battler": "writable",
        "Game_Actor": "writable",
        "Game_Enemy": "writable",
        "Game_Actors": "writable",
        "Game_Unit": "writable",
        "Game_Party": "writable",
        "Game_Troop": "writable",
        "Game_Map": "writable",
        "Game_CommonEvent": "writable",
        "Game_CharacterBase": "writable",
        "Game_Character": "writable",
        "Game_Player": "writable",
        "Game_Follower": "writable",
        "Game_Followers": "writable",
        "Game_Vehicle": "writable",
        "Game_Event": "writable",
        "Game_Interpreter": "writable",
        "Scene_Base": "writable",
        "Scene_Boot": "writable",
        "Scene_Title": "writable",
        "Scene_Map": "writable",
        "Scene_MenuBase": "writable",
        "Scene_Menu": "writable",
        "Scene_ItemBase": "writable",
        "Scene_Item": "writable",
        "Scene_Skill": "writable",
        "Scene_Equip": "writable",
        "Scene_Status": "writable",
        "Scene_Options": "writable",
        "Scene_File": "writable",
        "Scene_Save": "writable",
        "Scene_Load": "writable",
        "Scene_GameEnd": "writable",
        "Scene_Shop": "writable",
        "Scene_Name": "writable",
        "Scene_Debug": "writable",
        "Scene_Battle": "writable",
        "Scene_Gameover": "writable",
        "Sprite_Clickable": "writable",
        "Sprite_Button": "writable",
        "Sprite_Character": "writable",
        "Sprite_Battler": "writable",
        "Sprite_Actor": "writable",
        "Sprite_Enemy": "writable",
        "Sprite_Animation": "writable",
        "Sprite_AnimationMV": "writable",
        "Sprite_Battleback": "writable",
        "Sprite_Damage": "writable",
        "Sprite_Gauge": "writable",
        "Sprite_Name": "writable",
        "Sprite_StateIcon": "writable",
        "Sprite_StateOverlay": "writable",
        "Sprite_Weapon": "writable",
        "Sprite_Balloon": "writable",
        "Sprite_Picture": "writable",
        "Sprite_Timer": "writable",
        "Sprite_Destination": "writable",
        "Spriteset_Base": "writable",
        "Spriteset_Map": "writable",
        "Spriteset_Battle": "writable",
        "Window_Base": "writable",
        "Window_Scrollable": "writable",
        "Window_Selectable": "writable",
        "Window_Command": "writable",
        "Window_HorzCommand": "writable",
        "Window_Help": "writable",
        "Window_Gold": "writable",
        "Window_StatusBase": "writable",
        "Window_MenuCommand": "writable",
        "Window_MenuStatus": "writable",
        "Window_MenuActor": "writable",
        "Window_ItemCategory": "writable",
        "Window_ItemList": "writable",
        "Window_SkillType": "writable",
        "Window_SkillStatus": "writable",
        "Window_SkillList": "writable",
        "Window_EquipStatus": "writable",
        "Window_EquipCommand": "writable",
        "Window_EquipSlot": "writable",
        "Window_EquipItem": "writable",
        "Window_Status": "writable",
        "Window_StatusParams": "writable",
        "Window_StatusEquip": "writable",
        "Window_Options": "writable",
        "Window_SavefileList": "writable",
        "Window_ShopCommand": "writable",
        "Window_ShopBuy": "writable",
        "Window_ShopSell": "writable",
        "Window_ShopNumber": "writable",
        "Window_ShopStatus": "writable",
        "Window_NameEdit": "writable",
        "Window_NameInput": "writable",
        "Window_NameBox": "writable",
        "Window_ChoiceList": "writable",
        "Window_NumberInput": "writable",
        "Window_EventItem": "writable",
        "Window_Message": "writable",
        "Window_ScrollText": "writable",
        "Window_MapName": "writable",
        "Window_BattleLog": "writable",
        "Window_PartyCommand": "writable",
        "Window_ActorCommand": "writable",
        "Window_BattleStatus": "writable",
        "Window_BattleActor": "writable",
        "Window_BattleEnemy": "writable",
        "Window_BattleSkill": "writable",
        "Window_BattleItem": "writable",
        "Window_TitleCommand": "writable",
        "Window_GameEnd": "writable",
        "Window_DebugRange": "writable",
        "Window_DebugEdit": "writable"
    }
  }